{% extends "layout.html" %}
{% block title %}Panier{% endblock %}
{% block content %}
    <h2>Panier</h2>
    <div class="container">
        <div class="row text-info bg-dark">
          <div class="col-8">
            <h2>Produit</h2>
          </div>
          <div class="col-2">
            <h2> Quantité</h2>
          </div>
          <div class="col-2">
            <h2> Prix</h2>
          </div>
        </div>
        <!-- to - do changes for multiple products-->
        <form id="panierForm">
        {% for product in products %}
        <div class="row">
            <div class="col-8">
              {{ product.name }}
            </div>
            <div class="col-2">
              {{ product.quantity }}
            </div>
            <div class="col-2">
              {{ product.price }} $
            </div>
            <input type="hidden" name="products[{{ product.id }}][id]" value="{{ product.id }}">
            <input type="hidden" name="products[{{ product.id }}][quantity]" value="{{ product.quantity }}">
          {% endfor %}
        </div>
        <hr/>
        <div class="row">
            <div class="col-10"></div>
            <div class="col-2">
              <button class="btn btn-primary" type="submit" id="process"> Paiement </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script>
      document.getElementById('panierForm').addEventListener('submit', async function (e) {
            e.preventDefault();

            const formData = new FormData(this);
            let data = {};
            formData.forEach((value, key) => {
              // TODO
            });
            const data_json = { products: Object.values(data.products)  };
            console.log("Sending JSON:", data_json);

            const response = await fetch('/order/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data_json)
            });
    
            const result = await response.json();
            console.log(result);
            if (response.ok && result.new_order) {
              window.location.href = url_for('page.shipping_form', id=result.new_order);
            }
            else if(result.errors) {
              alert(result.errors.product.code + "\n" + result.errors.product.name)
            }
        });
    </script>
{% endblock %}