{% extends "layout.html" %}
{% block title %}Panier{% endblock %}
{% block content %}
    <h2>Panier</h2>
    <div class="container">
        <div class="row text-info bg-dark">
          <div class="col-8">
            <h2>Produit</h2>
          </div>
          <div class="col-2">
            <h2> Quantité</h2>
          </div>
          <div class="col-2">
            <h2> Prix</h2>
          </div>
        </div>
        <!-- to - do changes for multiple products-->
        {% for product in products %}
        <div class="row">
            <div class="col-8">
              {{ product.name }}
            </div>
            <div class="col-2">
              {{ product.quantity }}
            </div>
            <div class="col-2">
              {{ product.price }} $
            </div>
          {% endfor %}
        </div>
        <hr/>
        <div class="row">
            <div class="col-10"></div>
            <div class="col-2">
              <button type="submit"> Paiement </button>
            </div>
        </div>
      </div>
    </div>
    <script>
      document.getElementById('orderFormulaire').addEventListener('submit', async function (e) {
            e.preventDefault()
    
            const formData = new FormData(this);
            let data = {};
            // ajouter pour chaque produit
            formData.forEach((value, key) => {
                data[key] = parseInt(value, 10);;
            });
            data = { product: data };
            console.log("Sending JSON:", data);
            const response = await fetch('/order/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
    
            const result = await response.json();
            console.log(result);
            if (response.ok && result.location) {
              window.location.href = url_for('page.shipping_form', id=order.id);
            }
            else if(result.errors) {
              alert(result.errors.product.code + "\n" + result.errors.product.name)
            }
        });
    </script>
{% endblock %}